.footer {
    &__copyright {
        // @extend %geometria12-10-regular;
        // @extend %flex-sb;
        padding: rem(16) 0;

        div:first-child {
            margin-right: rem(20);
        }
        img {
            @media(max-width: $mobileSmall) {
                max-width: rem(88);
                vertical-align: middle;
                padding-bottom: em(4);
            }
        }
    }
}
